--
-- PostgreSQL database dump
--

\restrict 5K678HJMGAMRcdDJXZ9grvrOUU1oeGaaoPnZeN3tdneyWm1jaCfeKKZygAdPnEw

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: antifraude_fraud_alert; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.antifraude_fraud_alert (
    id bigint NOT NULL,
    tipo_alerta character varying(40) NOT NULL,
    severidad character varying(10) NOT NULL,
    descripcion text NOT NULL,
    estado character varying(15) NOT NULL,
    metadata jsonb NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    bet_id bigint,
    usuario_id integer NOT NULL
);


ALTER TABLE public.antifraude_fraud_alert OWNER TO postgres;

--
-- Name: antifraude_fraud_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.antifraude_fraud_alert ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.antifraude_fraud_alert_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: apuestas_bet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apuestas_bet (
    id bigint NOT NULL,
    tipo character varying(20) NOT NULL,
    estado character varying(20) NOT NULL,
    stake numeric(18,4) NOT NULL,
    odds_total numeric(18,4) NOT NULL,
    payout_potencial numeric(18,4) NOT NULL,
    payout_final numeric(18,4),
    idempotency_key character varying(120),
    ip_origen inet,
    aceptada_en timestamp with time zone,
    liquidada_en timestamp with time zone,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    usuario_id integer NOT NULL,
    CONSTRAINT bet_odds_total_mayor_que_uno CHECK ((odds_total > (1)::numeric)),
    CONSTRAINT bet_payout_potencial_no_negativo CHECK ((payout_potencial >= (0)::numeric)),
    CONSTRAINT bet_stake_mayor_que_cero CHECK ((stake > (0)::numeric))
);


ALTER TABLE public.apuestas_bet OWNER TO postgres;

--
-- Name: apuestas_bet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.apuestas_bet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.apuestas_bet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: apuestas_bet_selection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apuestas_bet_selection (
    id bigint NOT NULL,
    odd_valor_tomado numeric(18,4) NOT NULL,
    resultado character varying(20) NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    bet_id bigint NOT NULL,
    odd_id bigint NOT NULL,
    seleccion_id bigint NOT NULL,
    CONSTRAINT bet_selection_odd_valor_mayor_que_uno CHECK ((odd_valor_tomado > (1)::numeric))
);


ALTER TABLE public.apuestas_bet_selection OWNER TO postgres;

--
-- Name: apuestas_bet_selection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.apuestas_bet_selection ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.apuestas_bet_selection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auditoria_audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria_audit_log (
    id bigint NOT NULL,
    tipo_evento character varying(40) NOT NULL,
    entidad character varying(80) NOT NULL,
    entidad_id character varying(80) NOT NULL,
    accion character varying(80) NOT NULL,
    payload jsonb NOT NULL,
    previous_hash character varying(64),
    current_hash character varying(64) NOT NULL,
    ip_origen inet,
    user_agent text,
    fecha_creacion timestamp with time zone NOT NULL,
    creado_por_id integer
);


ALTER TABLE public.auditoria_audit_log OWNER TO postgres;

--
-- Name: auditoria_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auditoria_audit_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auditoria_audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auditoria_integrity_check; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria_integrity_check (
    id bigint NOT NULL,
    es_valida boolean NOT NULL,
    total_registros integer NOT NULL,
    errores_detectados jsonb,
    fecha_ejecucion timestamp with time zone NOT NULL,
    ejecutado_por_id integer,
    CONSTRAINT auditoria_integrity_check_total_registros_check CHECK ((total_registros >= 0))
);


ALTER TABLE public.auditoria_integrity_check OWNER TO postgres;

--
-- Name: auditoria_integrity_check_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auditoria_integrity_check ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auditoria_integrity_check_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: billetera_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billetera_account (
    id bigint NOT NULL,
    tipo character varying(40) NOT NULL,
    nombre character varying(120) NOT NULL,
    activa boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    usuario_id integer
);


ALTER TABLE public.billetera_account OWNER TO postgres;

--
-- Name: billetera_account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.billetera_account ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.billetera_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: billetera_ledger_entry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billetera_ledger_entry (
    id bigint NOT NULL,
    amount numeric(18,4) NOT NULL,
    direction character varying(10) NOT NULL,
    descripcion text,
    fecha_creacion timestamp with time zone NOT NULL,
    account_id bigint NOT NULL,
    transaction_id bigint NOT NULL,
    CONSTRAINT ledger_entry_amount_gt_zero CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.billetera_ledger_entry OWNER TO postgres;

--
-- Name: billetera_ledger_entry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.billetera_ledger_entry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.billetera_ledger_entry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: billetera_ledger_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billetera_ledger_transaction (
    id bigint NOT NULL,
    tipo character varying(40) NOT NULL,
    referencia character varying(120),
    idempotency_key character varying(120),
    descripcion text,
    fecha_creacion timestamp with time zone NOT NULL,
    creado_por_id integer
);


ALTER TABLE public.billetera_ledger_transaction OWNER TO postgres;

--
-- Name: billetera_ledger_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.billetera_ledger_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.billetera_ledger_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cuotas_odd; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuotas_odd (
    id bigint NOT NULL,
    valor numeric(18,4) NOT NULL,
    margen_operador numeric(18,4) NOT NULL,
    activa boolean NOT NULL,
    suspendida boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    actualizada_por_id integer,
    seleccion_id bigint NOT NULL,
    CONSTRAINT odd_margen_operador_no_negativo CHECK ((margen_operador >= (0)::numeric)),
    CONSTRAINT odd_valor_mayor_que_uno CHECK ((valor > (1)::numeric))
);


ALTER TABLE public.cuotas_odd OWNER TO postgres;

--
-- Name: cuotas_odd_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuotas_odd_history (
    id bigint NOT NULL,
    valor_anterior numeric(18,4) NOT NULL,
    valor_nuevo numeric(18,4) NOT NULL,
    margen_operador numeric(18,4) NOT NULL,
    motivo character varying(180),
    fecha_cambio timestamp with time zone NOT NULL,
    cambiado_por_id integer,
    odd_id bigint NOT NULL,
    CONSTRAINT odd_history_valor_anterior_mayor_que_uno CHECK ((valor_anterior > (1)::numeric)),
    CONSTRAINT odd_history_valor_nuevo_mayor_que_uno CHECK ((valor_nuevo > (1)::numeric))
);


ALTER TABLE public.cuotas_odd_history OWNER TO postgres;

--
-- Name: cuotas_odd_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cuotas_odd_history ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cuotas_odd_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cuotas_odd_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cuotas_odd ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cuotas_odd_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: eventos_deporte; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eventos_deporte (
    id bigint NOT NULL,
    nombre character varying(80) NOT NULL,
    descripcion text,
    activo boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL
);


ALTER TABLE public.eventos_deporte OWNER TO postgres;

--
-- Name: eventos_deporte_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.eventos_deporte ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.eventos_deporte_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: eventos_equipo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eventos_equipo (
    id bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    abreviatura character varying(10),
    pais character varying(80),
    activo boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    deporte_id bigint NOT NULL
);


ALTER TABLE public.eventos_equipo OWNER TO postgres;

--
-- Name: eventos_equipo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.eventos_equipo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.eventos_equipo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: eventos_evento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eventos_evento (
    id bigint NOT NULL,
    nombre character varying(180) NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_inicio timestamp with time zone NOT NULL,
    fecha_fin timestamp with time zone,
    marcador_local integer,
    marcador_visitante integer,
    activo boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    deporte_id bigint NOT NULL,
    equipo_local_id bigint NOT NULL,
    equipo_visitante_id bigint NOT NULL,
    liga_id bigint,
    CONSTRAINT evento_equipos_diferentes CHECK ((NOT (equipo_local_id = equipo_visitante_id))),
    CONSTRAINT eventos_evento_marcador_local_check CHECK ((marcador_local >= 0)),
    CONSTRAINT eventos_evento_marcador_visitante_check CHECK ((marcador_visitante >= 0))
);


ALTER TABLE public.eventos_evento OWNER TO postgres;

--
-- Name: eventos_evento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.eventos_evento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.eventos_evento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: eventos_liga; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eventos_liga (
    id bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    pais character varying(80) NOT NULL,
    activa boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    deporte_id bigint NOT NULL
);


ALTER TABLE public.eventos_liga OWNER TO postgres;

--
-- Name: eventos_liga_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.eventos_liga ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.eventos_liga_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: eventos_resultado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eventos_resultado (
    id bigint NOT NULL,
    marcador_local integer NOT NULL,
    marcador_visitante integer NOT NULL,
    resultado_1x2 character varying(20) NOT NULL,
    fecha_registro timestamp with time zone NOT NULL,
    evento_id bigint NOT NULL,
    registrado_por_id integer,
    CONSTRAINT eventos_resultado_marcador_local_check CHECK ((marcador_local >= 0)),
    CONSTRAINT eventos_resultado_marcador_visitante_check CHECK ((marcador_visitante >= 0))
);


ALTER TABLE public.eventos_resultado OWNER TO postgres;

--
-- Name: eventos_resultado_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.eventos_resultado ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.eventos_resultado_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: juego_responsable_autoexclusion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.juego_responsable_autoexclusion (
    id bigint NOT NULL,
    estado character varying(20) NOT NULL,
    duracion character varying(20) NOT NULL,
    fecha_inicio timestamp with time zone NOT NULL,
    fecha_fin timestamp with time zone,
    motivo text,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    creada_por_id integer,
    usuario_id integer NOT NULL
);


ALTER TABLE public.juego_responsable_autoexclusion OWNER TO postgres;

--
-- Name: juego_responsable_autoexclusion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.juego_responsable_autoexclusion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.juego_responsable_autoexclusion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: juego_responsable_limite_deposito; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.juego_responsable_limite_deposito (
    id bigint NOT NULL,
    limite_diario numeric(18,4) NOT NULL,
    limite_semanal numeric(18,4) NOT NULL,
    limite_mensual numeric(18,4) NOT NULL,
    cambio_pendiente_diario numeric(18,4),
    cambio_pendiente_semanal numeric(18,4),
    cambio_pendiente_mensual numeric(18,4),
    aplicar_cambio_en timestamp with time zone,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    usuario_id integer NOT NULL,
    CONSTRAINT limite_diario_no_negativo CHECK ((limite_diario >= (0)::numeric)),
    CONSTRAINT limite_mensual_no_negativo CHECK ((limite_mensual >= (0)::numeric)),
    CONSTRAINT limite_semanal_no_negativo CHECK ((limite_semanal >= (0)::numeric))
);


ALTER TABLE public.juego_responsable_limite_deposito OWNER TO postgres;

--
-- Name: juego_responsable_limite_deposito_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.juego_responsable_limite_deposito ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.juego_responsable_limite_deposito_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: juego_responsable_mensaje; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.juego_responsable_mensaje (
    id bigint NOT NULL,
    titulo character varying(120) NOT NULL,
    mensaje text NOT NULL,
    activo boolean NOT NULL,
    ubicacion character varying(80) NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL
);


ALTER TABLE public.juego_responsable_mensaje OWNER TO postgres;

--
-- Name: juego_responsable_mensaje_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.juego_responsable_mensaje ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.juego_responsable_mensaje_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mercados_mercado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mercados_mercado (
    id bigint NOT NULL,
    tipo character varying(30) NOT NULL,
    nombre character varying(120) NOT NULL,
    descripcion text,
    activo boolean NOT NULL,
    suspendido boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    evento_id bigint NOT NULL
);


ALTER TABLE public.mercados_mercado OWNER TO postgres;

--
-- Name: mercados_mercado_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mercados_mercado ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mercados_mercado_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mercados_seleccion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mercados_seleccion (
    id bigint NOT NULL,
    tipo character varying(30) NOT NULL,
    nombre character varying(120) NOT NULL,
    activo boolean NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    mercado_id bigint NOT NULL
);


ALTER TABLE public.mercados_seleccion OWNER TO postgres;

--
-- Name: mercados_seleccion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mercados_seleccion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mercados_seleccion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_kyc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_kyc (
    id bigint NOT NULL,
    dni_verificado boolean NOT NULL,
    mayor_edad_verificado boolean NOT NULL,
    observacion text,
    fecha_verificacion timestamp with time zone,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    perfil_id bigint NOT NULL,
    verificado_por_id integer
);


ALTER TABLE public.usuarios_kyc OWNER TO postgres;

--
-- Name: usuarios_kyc_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_kyc ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_kyc_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_perfil (
    id bigint NOT NULL,
    dni character varying(12) NOT NULL,
    nombres character varying(100) NOT NULL,
    apellidos character varying(100) NOT NULL,
    fecha_nacimiento date NOT NULL,
    telefono character varying(20),
    direccion text,
    estado_cuenta character varying(30) NOT NULL,
    fecha_registro timestamp with time zone NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    usuario_id integer NOT NULL
);


ALTER TABLE public.usuarios_perfil OWNER TO postgres;

--
-- Name: usuarios_perfil_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios_perfil ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_perfil_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: antifraude_fraud_alert; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.antifraude_fraud_alert (id, tipo_alerta, severidad, descripcion, estado, metadata, fecha_creacion, fecha_actualizacion, bet_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: apuestas_bet; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: apuestas_bet_selection; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.apuestas_bet_selection (id, odd_valor_tomado, resultado, fecha_creacion, bet_id, odd_id, seleccion_id) FROM stdin;
1	2.5000	ganada	2026-05-24 07:19:37.991048+00	1	1	1
3	2.5000	anulada	2026-05-26 05:53:11.719876+00	3	1	1
2	2.5000	perdida	2026-05-26 05:52:49.976092+00	2	1	1
4	2.5000	ganada	2026-05-26 06:00:32.031233+00	4	1	1
6	2.5000	ganada	2026-05-26 06:39:07.067192+00	6	1	1
5	2.5000	ganada	2026-05-26 06:23:55.887182+00	5	1	1
\.


--
-- Data for Name: auditoria_audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auditoria_integrity_check; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auditoria_integrity_check (id, es_valida, total_registros, errores_detectados, fecha_ejecucion, ejecutado_por_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: billetera_account; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: billetera_ledger_entry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: billetera_ledger_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.billetera_ledger_transaction (id, tipo, referencia, idempotency_key, descripcion, fecha_creacion, creado_por_id) FROM stdin;
15	liquidacion_apuesta	liquidacion_apuesta_5	admin-liq-5-1779915293	Liquidaci├│n de apuesta ganadora	2026-05-27 20:54:53.486917+00	3
16	recarga	recarga_usuario_7	recarga-web-1779938185457-i7yzwf	Recarga simulada de fichas virtuales	2026-05-28 03:16:25.568438+00	7
17	retiro	retiro_usuario_7	reset-wallet-jose-20260528	Retiro simulado de fichas virtuales	2026-05-28 04:01:41.425632+00	7
\.


--
-- Data for Name: cuotas_odd; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cuotas_odd (id, valor, margen_operador, activa, suspendida, fecha_creacion, fecha_actualizacion, actualizada_por_id, seleccion_id) FROM stdin;
1	2.5000	0.0500	t	f	2026-05-24 07:18:57.77113+00	2026-05-24 07:18:57.771142+00	1	1
\.


--
-- Data for Name: cuotas_odd_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cuotas_odd_history (id, valor_anterior, valor_nuevo, margen_operador, motivo, fecha_cambio, cambiado_por_id, odd_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: eventos_deporte; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eventos_deporte (id, nombre, descripcion, activo, fecha_creacion, fecha_actualizacion) FROM stdin;
1	F├║tbol		t	2026-05-24 07:13:13.999243+00	2026-05-24 07:13:13.999258+00
2	basquetbol	Deporte de equipo donde dos conjuntos compiten anotando puntos encestando el bal├│n en el aro rival.	t	2026-05-27 21:01:49.412637+00	2026-05-27 21:01:49.412659+00
\.


--
-- Data for Name: eventos_equipo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eventos_equipo (id, nombre, abreviatura, pais, activo, fecha_creacion, fecha_actualizacion, deporte_id) FROM stdin;
1	Per├║	PER	Per├║	t	2026-05-24 07:13:56.36024+00	2026-05-24 07:13:56.360251+00	1
2	Argentina	ARG	Argentina	t	2026-05-24 07:14:25.461671+00	2026-05-24 07:14:25.461683+00	1
3	Universitario de Deportes	UNI	Per├║	t	2026-05-27 20:58:23.936305+00	2026-05-27 20:58:23.936321+00	1
\.


--
-- Data for Name: eventos_evento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eventos_evento (id, nombre, estado, fecha_inicio, fecha_fin, marcador_local, marcador_visitante, activo, fecha_creacion, fecha_actualizacion, deporte_id, equipo_local_id, equipo_visitante_id, liga_id) FROM stdin;
1	Per├║ vs Argentina	programado	2026-05-25 23:00:00+00	\N	\N	\N	t	2026-05-24 07:15:40.940662+00	2026-05-24 07:15:40.940671+00	1	1	2	\N
\.


--
-- Data for Name: eventos_liga; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eventos_liga (id, nombre, pais, activa, fecha_creacion, fecha_actualizacion, deporte_id) FROM stdin;
1	liga 1	Peru	t	2026-05-28 04:23:23.121892+00	2026-05-28 04:23:23.121905+00	1
2	liga 2	Peru	t	2026-05-28 04:34:42.346418+00	2026-05-28 04:34:42.346433+00	1
\.


--
-- Data for Name: eventos_resultado; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eventos_resultado (id, marcador_local, marcador_visitante, resultado_1x2, fecha_registro, evento_id, registrado_por_id) FROM stdin;
\.


--
-- Data for Name: juego_responsable_autoexclusion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.juego_responsable_autoexclusion (id, estado, duracion, fecha_inicio, fecha_fin, motivo, fecha_creacion, fecha_actualizacion, creada_por_id, usuario_id) FROM stdin;
1	finalizada	7_dias	2026-05-26 06:19:52+00	\N	Prueba de bloqueo	2026-05-26 06:20:32.928926+00	2026-05-26 06:23:30.216983+00	1	1
\.


--
-- Data for Name: juego_responsable_limite_deposito; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.juego_responsable_limite_deposito (id, limite_diario, limite_semanal, limite_mensual, cambio_pendiente_diario, cambio_pendiente_semanal, cambio_pendiente_mensual, aplicar_cambio_en, fecha_creacion, fecha_actualizacion, usuario_id) FROM stdin;
1	100.0000	500.0000	1000.0000	\N	\N	\N	\N	2026-05-27 06:35:36.623807+00	2026-05-27 06:35:36.623816+00	2
2	100.0000	500.0000	1000.0000	\N	\N	\N	\N	2026-05-27 06:36:03.789595+00	2026-05-27 06:36:03.789606+00	4
3	100.0000	500.0000	1000.0000	\N	\N	\N	\N	2026-05-28 02:52:16.288916+00	2026-05-28 02:52:16.288929+00	7
\.


--
-- Data for Name: juego_responsable_mensaje; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.juego_responsable_mensaje (id, titulo, mensaje, activo, ubicacion, fecha_creacion, fecha_actualizacion) FROM stdin;
\.


--
-- Data for Name: mercados_mercado; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mercados_mercado (id, tipo, nombre, descripcion, activo, suspendido, fecha_creacion, fecha_actualizacion, evento_id) FROM stdin;
1	1x2	Resultado final 1X2		t	f	2026-05-24 07:17:41.316944+00	2026-05-24 07:17:41.316958+00	1
\.


--
-- Data for Name: mercados_seleccion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mercados_seleccion (id, tipo, nombre, activo, fecha_creacion, fecha_actualizacion, mercado_id) FROM stdin;
1	local	Gana Per├║	t	2026-05-24 07:17:41.321031+00	2026-05-24 07:17:41.321054+00	1
2	empate	Empate	t	2026-05-24 07:17:41.324027+00	2026-05-24 07:17:41.324041+00	1
3	visitante	Gana Argentina	t	2026-05-24 07:17:41.324751+00	2026-05-24 07:17:41.324762+00	1
\.


--
-- Data for Name: usuarios_kyc; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios_kyc (id, dni_verificado, mayor_edad_verificado, observacion, fecha_verificacion, fecha_creacion, fecha_actualizacion, perfil_id, verificado_por_id) FROM stdin;
\.


--
-- Data for Name: usuarios_perfil; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: antifraude_fraud_alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.antifraude_fraud_alert_id_seq', 1, false);


--
-- Name: apuestas_bet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.apuestas_bet_id_seq', 6, true);


--
-- Name: apuestas_bet_selection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.apuestas_bet_selection_id_seq', 6, true);


--
-- Name: auditoria_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auditoria_audit_log_id_seq', 9, true);


--
-- Name: auditoria_integrity_check_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auditoria_integrity_check_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 112, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 7, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: billetera_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billetera_account_id_seq', 6, true);


--
-- Name: billetera_ledger_entry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billetera_ledger_entry_id_seq', 37, true);


--
-- Name: billetera_ledger_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billetera_ledger_transaction_id_seq', 17, true);


--
-- Name: cuotas_odd_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuotas_odd_history_id_seq', 1, false);


--
-- Name: cuotas_odd_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuotas_odd_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 10, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 28, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 29, true);


--
-- Name: eventos_deporte_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_deporte_id_seq', 2, true);


--
-- Name: eventos_equipo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_equipo_id_seq', 3, true);


--
-- Name: eventos_evento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_evento_id_seq', 1, true);


--
-- Name: eventos_liga_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_liga_id_seq', 2, true);


--
-- Name: eventos_resultado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.eventos_resultado_id_seq', 1, false);


--
-- Name: juego_responsable_autoexclusion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.juego_responsable_autoexclusion_id_seq', 1, true);


--
-- Name: juego_responsable_limite_deposito_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.juego_responsable_limite_deposito_id_seq', 3, true);


--
-- Name: juego_responsable_mensaje_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.juego_responsable_mensaje_id_seq', 1, false);


--
-- Name: mercados_mercado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mercados_mercado_id_seq', 1, true);


--
-- Name: mercados_seleccion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mercados_seleccion_id_seq', 3, true);


--
-- Name: usuarios_kyc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_kyc_id_seq', 1, false);


--
-- Name: usuarios_perfil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_perfil_id_seq', 5, true);


--
-- Name: antifraude_fraud_alert antifraude_fraud_alert_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.antifraude_fraud_alert
    ADD CONSTRAINT antifraude_fraud_alert_pkey PRIMARY KEY (id);


--
-- Name: apuestas_bet apuestas_bet_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet
    ADD CONSTRAINT apuestas_bet_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: apuestas_bet apuestas_bet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet
    ADD CONSTRAINT apuestas_bet_pkey PRIMARY KEY (id);


--
-- Name: apuestas_bet_selection apuestas_bet_selection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet_selection
    ADD CONSTRAINT apuestas_bet_selection_pkey PRIMARY KEY (id);


--
-- Name: auditoria_audit_log auditoria_audit_log_current_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_audit_log
    ADD CONSTRAINT auditoria_audit_log_current_hash_key UNIQUE (current_hash);


--
-- Name: auditoria_audit_log auditoria_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_audit_log
    ADD CONSTRAINT auditoria_audit_log_pkey PRIMARY KEY (id);


--
-- Name: auditoria_integrity_check auditoria_integrity_check_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_integrity_check
    ADD CONSTRAINT auditoria_integrity_check_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: billetera_account billetera_account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_account
    ADD CONSTRAINT billetera_account_pkey PRIMARY KEY (id);


--
-- Name: billetera_ledger_entry billetera_ledger_entry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_ledger_entry
    ADD CONSTRAINT billetera_ledger_entry_pkey PRIMARY KEY (id);


--
-- Name: billetera_ledger_transaction billetera_ledger_transaction_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_ledger_transaction
    ADD CONSTRAINT billetera_ledger_transaction_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: billetera_ledger_transaction billetera_ledger_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_ledger_transaction
    ADD CONSTRAINT billetera_ledger_transaction_pkey PRIMARY KEY (id);


--
-- Name: cuotas_odd_history cuotas_odd_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd_history
    ADD CONSTRAINT cuotas_odd_history_pkey PRIMARY KEY (id);


--
-- Name: cuotas_odd cuotas_odd_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd
    ADD CONSTRAINT cuotas_odd_pkey PRIMARY KEY (id);


--
-- Name: cuotas_odd cuotas_odd_seleccion_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd
    ADD CONSTRAINT cuotas_odd_seleccion_id_key UNIQUE (seleccion_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: eventos_deporte eventos_deporte_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_deporte
    ADD CONSTRAINT eventos_deporte_nombre_key UNIQUE (nombre);


--
-- Name: eventos_deporte eventos_deporte_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_deporte
    ADD CONSTRAINT eventos_deporte_pkey PRIMARY KEY (id);


--
-- Name: eventos_equipo eventos_equipo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_equipo
    ADD CONSTRAINT eventos_equipo_pkey PRIMARY KEY (id);


--
-- Name: eventos_evento eventos_evento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_evento
    ADD CONSTRAINT eventos_evento_pkey PRIMARY KEY (id);


--
-- Name: eventos_liga eventos_liga_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_liga
    ADD CONSTRAINT eventos_liga_nombre_key UNIQUE (nombre);


--
-- Name: eventos_liga eventos_liga_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_liga
    ADD CONSTRAINT eventos_liga_pkey PRIMARY KEY (id);


--
-- Name: eventos_resultado eventos_resultado_evento_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_resultado
    ADD CONSTRAINT eventos_resultado_evento_id_key UNIQUE (evento_id);


--
-- Name: eventos_resultado eventos_resultado_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_resultado
    ADD CONSTRAINT eventos_resultado_pkey PRIMARY KEY (id);


--
-- Name: juego_responsable_autoexclusion juego_responsable_autoexclusion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_autoexclusion
    ADD CONSTRAINT juego_responsable_autoexclusion_pkey PRIMARY KEY (id);


--
-- Name: juego_responsable_limite_deposito juego_responsable_limite_deposito_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_limite_deposito
    ADD CONSTRAINT juego_responsable_limite_deposito_pkey PRIMARY KEY (id);


--
-- Name: juego_responsable_limite_deposito juego_responsable_limite_deposito_usuario_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_limite_deposito
    ADD CONSTRAINT juego_responsable_limite_deposito_usuario_id_key UNIQUE (usuario_id);


--
-- Name: juego_responsable_mensaje juego_responsable_mensaje_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_mensaje
    ADD CONSTRAINT juego_responsable_mensaje_pkey PRIMARY KEY (id);


--
-- Name: mercados_mercado mercados_mercado_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mercados_mercado
    ADD CONSTRAINT mercados_mercado_pkey PRIMARY KEY (id);


--
-- Name: mercados_seleccion mercados_seleccion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mercados_seleccion
    ADD CONSTRAINT mercados_seleccion_pkey PRIMARY KEY (id);


--
-- Name: billetera_account unique_account_tipo_por_usuario; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_account
    ADD CONSTRAINT unique_account_tipo_por_usuario UNIQUE (usuario_id, tipo);


--
-- Name: eventos_equipo unique_equipo_por_deporte; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_equipo
    ADD CONSTRAINT unique_equipo_por_deporte UNIQUE (nombre, deporte_id);


--
-- Name: mercados_mercado unique_mercado_tipo_por_evento; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mercados_mercado
    ADD CONSTRAINT unique_mercado_tipo_por_evento UNIQUE (evento_id, tipo);


--
-- Name: mercados_seleccion unique_seleccion_tipo_por_mercado; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mercados_seleccion
    ADD CONSTRAINT unique_seleccion_tipo_por_mercado UNIQUE (mercado_id, tipo);


--
-- Name: usuarios_kyc usuarios_kyc_perfil_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_kyc
    ADD CONSTRAINT usuarios_kyc_perfil_id_key UNIQUE (perfil_id);


--
-- Name: usuarios_kyc usuarios_kyc_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_kyc
    ADD CONSTRAINT usuarios_kyc_pkey PRIMARY KEY (id);


--
-- Name: usuarios_perfil usuarios_perfil_dni_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_perfil
    ADD CONSTRAINT usuarios_perfil_dni_key UNIQUE (dni);


--
-- Name: usuarios_perfil usuarios_perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_perfil
    ADD CONSTRAINT usuarios_perfil_pkey PRIMARY KEY (id);


--
-- Name: usuarios_perfil usuarios_perfil_usuario_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_perfil
    ADD CONSTRAINT usuarios_perfil_usuario_id_key UNIQUE (usuario_id);


--
-- Name: antifraude__estado_a7fdb3_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude__estado_a7fdb3_idx ON public.antifraude_fraud_alert USING btree (estado);


--
-- Name: antifraude__fecha_c_2ac31d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude__fecha_c_2ac31d_idx ON public.antifraude_fraud_alert USING btree (fecha_creacion);


--
-- Name: antifraude__severid_1a882b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude__severid_1a882b_idx ON public.antifraude_fraud_alert USING btree (severidad);


--
-- Name: antifraude__tipo_al_22ce9a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude__tipo_al_22ce9a_idx ON public.antifraude_fraud_alert USING btree (tipo_alerta);


--
-- Name: antifraude__usuario_a26d1a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude__usuario_a26d1a_idx ON public.antifraude_fraud_alert USING btree (usuario_id);


--
-- Name: antifraude_fraud_alert_bet_id_00f188fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude_fraud_alert_bet_id_00f188fa ON public.antifraude_fraud_alert USING btree (bet_id);


--
-- Name: antifraude_fraud_alert_usuario_id_1122c8da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX antifraude_fraud_alert_usuario_id_1122c8da ON public.antifraude_fraud_alert USING btree (usuario_id);


--
-- Name: apuestas_be_bet_id_eb93f4_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_bet_id_eb93f4_idx ON public.apuestas_bet_selection USING btree (bet_id);


--
-- Name: apuestas_be_estado_7f6bf2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_estado_7f6bf2_idx ON public.apuestas_bet USING btree (estado);


--
-- Name: apuestas_be_fecha_c_32718d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_fecha_c_32718d_idx ON public.apuestas_bet USING btree (fecha_creacion);


--
-- Name: apuestas_be_idempot_85b092_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_idempot_85b092_idx ON public.apuestas_bet USING btree (idempotency_key);


--
-- Name: apuestas_be_odd_id_a8c49a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_odd_id_a8c49a_idx ON public.apuestas_bet_selection USING btree (odd_id);


--
-- Name: apuestas_be_resulta_326f88_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_resulta_326f88_idx ON public.apuestas_bet_selection USING btree (resultado);


--
-- Name: apuestas_be_selecci_b011dc_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_selecci_b011dc_idx ON public.apuestas_bet_selection USING btree (seleccion_id);


--
-- Name: apuestas_be_tipo_c6e735_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_tipo_c6e735_idx ON public.apuestas_bet USING btree (tipo);


--
-- Name: apuestas_be_usuario_4b92fb_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_be_usuario_4b92fb_idx ON public.apuestas_bet USING btree (usuario_id);


--
-- Name: apuestas_bet_idempotency_key_78b81feb_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_bet_idempotency_key_78b81feb_like ON public.apuestas_bet USING btree (idempotency_key varchar_pattern_ops);


--
-- Name: apuestas_bet_selection_bet_id_577e288e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_bet_selection_bet_id_577e288e ON public.apuestas_bet_selection USING btree (bet_id);


--
-- Name: apuestas_bet_selection_odd_id_9b36e30d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_bet_selection_odd_id_9b36e30d ON public.apuestas_bet_selection USING btree (odd_id);


--
-- Name: apuestas_bet_selection_seleccion_id_8e2c68ac; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_bet_selection_seleccion_id_8e2c68ac ON public.apuestas_bet_selection USING btree (seleccion_id);


--
-- Name: apuestas_bet_usuario_id_a0cda139; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX apuestas_bet_usuario_id_a0cda139 ON public.apuestas_bet USING btree (usuario_id);


--
-- Name: auditoria_a_accion_c59498_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_a_accion_c59498_idx ON public.auditoria_audit_log USING btree (accion);


--
-- Name: auditoria_a_current_06a86e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_a_current_06a86e_idx ON public.auditoria_audit_log USING btree (current_hash);


--
-- Name: auditoria_a_entidad_9d69ce_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_a_entidad_9d69ce_idx ON public.auditoria_audit_log USING btree (entidad);


--
-- Name: auditoria_a_entidad_e57311_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_a_entidad_e57311_idx ON public.auditoria_audit_log USING btree (entidad_id);


--
-- Name: auditoria_a_fecha_c_7f49f5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_a_fecha_c_7f49f5_idx ON public.auditoria_audit_log USING btree (fecha_creacion);


--
-- Name: auditoria_a_tipo_ev_0255c7_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_a_tipo_ev_0255c7_idx ON public.auditoria_audit_log USING btree (tipo_evento);


--
-- Name: auditoria_audit_log_creado_por_id_83e2520f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_audit_log_creado_por_id_83e2520f ON public.auditoria_audit_log USING btree (creado_por_id);


--
-- Name: auditoria_audit_log_current_hash_269293d7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_audit_log_current_hash_269293d7_like ON public.auditoria_audit_log USING btree (current_hash varchar_pattern_ops);


--
-- Name: auditoria_i_es_vali_330a4e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_i_es_vali_330a4e_idx ON public.auditoria_integrity_check USING btree (es_valida);


--
-- Name: auditoria_i_fecha_e_4314b5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_i_fecha_e_4314b5_idx ON public.auditoria_integrity_check USING btree (fecha_ejecucion);


--
-- Name: auditoria_integrity_check_ejecutado_por_id_3551d4d7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auditoria_integrity_check_ejecutado_por_id_3551d4d7 ON public.auditoria_integrity_check USING btree (ejecutado_por_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: billetera_a_activa_39c79e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_a_activa_39c79e_idx ON public.billetera_account USING btree (activa);


--
-- Name: billetera_a_tipo_5aba47_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_a_tipo_5aba47_idx ON public.billetera_account USING btree (tipo);


--
-- Name: billetera_a_usuario_b3c91d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_a_usuario_b3c91d_idx ON public.billetera_account USING btree (usuario_id);


--
-- Name: billetera_account_usuario_id_cc0bee51; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_account_usuario_id_cc0bee51 ON public.billetera_account USING btree (usuario_id);


--
-- Name: billetera_l_account_10d704_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_account_10d704_idx ON public.billetera_ledger_entry USING btree (account_id);


--
-- Name: billetera_l_directi_c1a103_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_directi_c1a103_idx ON public.billetera_ledger_entry USING btree (direction);


--
-- Name: billetera_l_fecha_c_b50994_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_fecha_c_b50994_idx ON public.billetera_ledger_transaction USING btree (fecha_creacion);


--
-- Name: billetera_l_fecha_c_e0f649_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_fecha_c_e0f649_idx ON public.billetera_ledger_entry USING btree (fecha_creacion);


--
-- Name: billetera_l_idempot_33108f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_idempot_33108f_idx ON public.billetera_ledger_transaction USING btree (idempotency_key);


--
-- Name: billetera_l_referen_778c10_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_referen_778c10_idx ON public.billetera_ledger_transaction USING btree (referencia);


--
-- Name: billetera_l_tipo_38b784_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_tipo_38b784_idx ON public.billetera_ledger_transaction USING btree (tipo);


--
-- Name: billetera_l_transac_6cbbd6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_l_transac_6cbbd6_idx ON public.billetera_ledger_entry USING btree (transaction_id);


--
-- Name: billetera_ledger_entry_account_id_e9d11086; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_ledger_entry_account_id_e9d11086 ON public.billetera_ledger_entry USING btree (account_id);


--
-- Name: billetera_ledger_entry_transaction_id_f03cf909; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_ledger_entry_transaction_id_f03cf909 ON public.billetera_ledger_entry USING btree (transaction_id);


--
-- Name: billetera_ledger_transaction_creado_por_id_6ddc33b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_ledger_transaction_creado_por_id_6ddc33b6 ON public.billetera_ledger_transaction USING btree (creado_por_id);


--
-- Name: billetera_ledger_transaction_idempotency_key_3bef985a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billetera_ledger_transaction_idempotency_key_3bef985a_like ON public.billetera_ledger_transaction USING btree (idempotency_key varchar_pattern_ops);


--
-- Name: cuotas_odd__fecha_c_8e32d2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd__fecha_c_8e32d2_idx ON public.cuotas_odd_history USING btree (fecha_cambio);


--
-- Name: cuotas_odd__odd_id_d47101_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd__odd_id_d47101_idx ON public.cuotas_odd_history USING btree (odd_id);


--
-- Name: cuotas_odd_activa_83ee19_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd_activa_83ee19_idx ON public.cuotas_odd USING btree (activa);


--
-- Name: cuotas_odd_actualizada_por_id_1887a3be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd_actualizada_por_id_1887a3be ON public.cuotas_odd USING btree (actualizada_por_id);


--
-- Name: cuotas_odd_fecha_a_7339a5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd_fecha_a_7339a5_idx ON public.cuotas_odd USING btree (fecha_actualizacion);


--
-- Name: cuotas_odd_history_cambiado_por_id_21481e78; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd_history_cambiado_por_id_21481e78 ON public.cuotas_odd_history USING btree (cambiado_por_id);


--
-- Name: cuotas_odd_history_odd_id_00f25c35; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd_history_odd_id_00f25c35 ON public.cuotas_odd_history USING btree (odd_id);


--
-- Name: cuotas_odd_suspend_0e1c20_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cuotas_odd_suspend_0e1c20_idx ON public.cuotas_odd USING btree (suspendida);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: eventos_dep_activo_768b85_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_dep_activo_768b85_idx ON public.eventos_deporte USING btree (activo);


--
-- Name: eventos_dep_nombre_7c97ad_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_dep_nombre_7c97ad_idx ON public.eventos_deporte USING btree (nombre);


--
-- Name: eventos_deporte_nombre_40ddc608_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_deporte_nombre_40ddc608_like ON public.eventos_deporte USING btree (nombre varchar_pattern_ops);


--
-- Name: eventos_equ_activo_ea2399_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_equ_activo_ea2399_idx ON public.eventos_equipo USING btree (activo);


--
-- Name: eventos_equ_deporte_f0a092_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_equ_deporte_f0a092_idx ON public.eventos_equipo USING btree (deporte_id);


--
-- Name: eventos_equ_nombre_47ee47_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_equ_nombre_47ee47_idx ON public.eventos_equipo USING btree (nombre);


--
-- Name: eventos_equipo_deporte_id_fc74c45e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_equipo_deporte_id_fc74c45e ON public.eventos_equipo USING btree (deporte_id);


--
-- Name: eventos_eve_activo_8e8c71_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_eve_activo_8e8c71_idx ON public.eventos_evento USING btree (activo);


--
-- Name: eventos_eve_deporte_38b09b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_eve_deporte_38b09b_idx ON public.eventos_evento USING btree (deporte_id);


--
-- Name: eventos_eve_estado_6b5412_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_eve_estado_6b5412_idx ON public.eventos_evento USING btree (estado);


--
-- Name: eventos_eve_fecha_i_0df3d8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_eve_fecha_i_0df3d8_idx ON public.eventos_evento USING btree (fecha_inicio);


--
-- Name: eventos_evento_deporte_id_fafd4400; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_evento_deporte_id_fafd4400 ON public.eventos_evento USING btree (deporte_id);


--
-- Name: eventos_evento_equipo_local_id_acb428d2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_evento_equipo_local_id_acb428d2 ON public.eventos_evento USING btree (equipo_local_id);


--
-- Name: eventos_evento_equipo_visitante_id_c9e38773; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_evento_equipo_visitante_id_c9e38773 ON public.eventos_evento USING btree (equipo_visitante_id);


--
-- Name: eventos_evento_liga_id_30fc26dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_evento_liga_id_30fc26dc ON public.eventos_evento USING btree (liga_id);


--
-- Name: eventos_lig_activa_8106ff_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_lig_activa_8106ff_idx ON public.eventos_liga USING btree (activa);


--
-- Name: eventos_lig_deporte_e5d9a2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_lig_deporte_e5d9a2_idx ON public.eventos_liga USING btree (deporte_id);


--
-- Name: eventos_liga_deporte_id_6e3c29a3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_liga_deporte_id_6e3c29a3 ON public.eventos_liga USING btree (deporte_id);


--
-- Name: eventos_liga_nombre_5df29713_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_liga_nombre_5df29713_like ON public.eventos_liga USING btree (nombre varchar_pattern_ops);


--
-- Name: eventos_res_fecha_r_982b11_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_res_fecha_r_982b11_idx ON public.eventos_resultado USING btree (fecha_registro);


--
-- Name: eventos_res_resulta_70b08c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_res_resulta_70b08c_idx ON public.eventos_resultado USING btree (resultado_1x2);


--
-- Name: eventos_resultado_registrado_por_id_775ce91e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX eventos_resultado_registrado_por_id_775ce91e ON public.eventos_resultado USING btree (registrado_por_id);


--
-- Name: juego_respo_activo_c2115e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_activo_c2115e_idx ON public.juego_responsable_mensaje USING btree (activo);


--
-- Name: juego_respo_aplicar_46a6be_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_aplicar_46a6be_idx ON public.juego_responsable_limite_deposito USING btree (aplicar_cambio_en);


--
-- Name: juego_respo_duracio_ed3ed9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_duracio_ed3ed9_idx ON public.juego_responsable_autoexclusion USING btree (duracion);


--
-- Name: juego_respo_estado_67f336_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_estado_67f336_idx ON public.juego_responsable_autoexclusion USING btree (estado);


--
-- Name: juego_respo_fecha_f_43d0e0_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_fecha_f_43d0e0_idx ON public.juego_responsable_autoexclusion USING btree (fecha_fin);


--
-- Name: juego_respo_fecha_i_fd921a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_fecha_i_fd921a_idx ON public.juego_responsable_autoexclusion USING btree (fecha_inicio);


--
-- Name: juego_respo_ubicaci_37f65d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_ubicaci_37f65d_idx ON public.juego_responsable_mensaje USING btree (ubicacion);


--
-- Name: juego_respo_usuario_109176_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_usuario_109176_idx ON public.juego_responsable_autoexclusion USING btree (usuario_id);


--
-- Name: juego_respo_usuario_9cd3f0_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_respo_usuario_9cd3f0_idx ON public.juego_responsable_limite_deposito USING btree (usuario_id);


--
-- Name: juego_responsable_autoexclusion_creada_por_id_3b8b4941; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_responsable_autoexclusion_creada_por_id_3b8b4941 ON public.juego_responsable_autoexclusion USING btree (creada_por_id);


--
-- Name: juego_responsable_autoexclusion_usuario_id_d1a949eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX juego_responsable_autoexclusion_usuario_id_d1a949eb ON public.juego_responsable_autoexclusion USING btree (usuario_id);


--
-- Name: mercados_me_activo_956257_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_me_activo_956257_idx ON public.mercados_mercado USING btree (activo);


--
-- Name: mercados_me_evento__25486f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_me_evento__25486f_idx ON public.mercados_mercado USING btree (evento_id);


--
-- Name: mercados_me_suspend_decf34_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_me_suspend_decf34_idx ON public.mercados_mercado USING btree (suspendido);


--
-- Name: mercados_me_tipo_10203b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_me_tipo_10203b_idx ON public.mercados_mercado USING btree (tipo);


--
-- Name: mercados_mercado_evento_id_68a01654; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_mercado_evento_id_68a01654 ON public.mercados_mercado USING btree (evento_id);


--
-- Name: mercados_se_activo_bf2473_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_se_activo_bf2473_idx ON public.mercados_seleccion USING btree (activo);


--
-- Name: mercados_se_mercado_a10236_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_se_mercado_a10236_idx ON public.mercados_seleccion USING btree (mercado_id);


--
-- Name: mercados_se_tipo_2244fc_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_se_tipo_2244fc_idx ON public.mercados_seleccion USING btree (tipo);


--
-- Name: mercados_seleccion_mercado_id_54a764c1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mercados_seleccion_mercado_id_54a764c1 ON public.mercados_seleccion USING btree (mercado_id);


--
-- Name: usuarios_ky_dni_ver_1be3c2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_ky_dni_ver_1be3c2_idx ON public.usuarios_kyc USING btree (dni_verificado);


--
-- Name: usuarios_ky_mayor_e_e7911e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_ky_mayor_e_e7911e_idx ON public.usuarios_kyc USING btree (mayor_edad_verificado);


--
-- Name: usuarios_kyc_verificado_por_id_e31ead92; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_kyc_verificado_por_id_e31ead92 ON public.usuarios_kyc USING btree (verificado_por_id);


--
-- Name: usuarios_pe_dni_75debc_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_pe_dni_75debc_idx ON public.usuarios_perfil USING btree (dni);


--
-- Name: usuarios_pe_estado__7cf0b1_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_pe_estado__7cf0b1_idx ON public.usuarios_perfil USING btree (estado_cuenta);


--
-- Name: usuarios_perfil_dni_f55c77e9_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX usuarios_perfil_dni_f55c77e9_like ON public.usuarios_perfil USING btree (dni varchar_pattern_ops);


--
-- Name: antifraude_fraud_alert antifraude_fraud_alert_bet_id_00f188fa_fk_apuestas_bet_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.antifraude_fraud_alert
    ADD CONSTRAINT antifraude_fraud_alert_bet_id_00f188fa_fk_apuestas_bet_id FOREIGN KEY (bet_id) REFERENCES public.apuestas_bet(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: antifraude_fraud_alert antifraude_fraud_alert_usuario_id_1122c8da_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.antifraude_fraud_alert
    ADD CONSTRAINT antifraude_fraud_alert_usuario_id_1122c8da_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: apuestas_bet_selection apuestas_bet_selecti_seleccion_id_8e2c68ac_fk_mercados_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet_selection
    ADD CONSTRAINT apuestas_bet_selecti_seleccion_id_8e2c68ac_fk_mercados_ FOREIGN KEY (seleccion_id) REFERENCES public.mercados_seleccion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: apuestas_bet_selection apuestas_bet_selection_bet_id_577e288e_fk_apuestas_bet_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet_selection
    ADD CONSTRAINT apuestas_bet_selection_bet_id_577e288e_fk_apuestas_bet_id FOREIGN KEY (bet_id) REFERENCES public.apuestas_bet(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: apuestas_bet_selection apuestas_bet_selection_odd_id_9b36e30d_fk_cuotas_odd_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet_selection
    ADD CONSTRAINT apuestas_bet_selection_odd_id_9b36e30d_fk_cuotas_odd_id FOREIGN KEY (odd_id) REFERENCES public.cuotas_odd(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: apuestas_bet apuestas_bet_usuario_id_a0cda139_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apuestas_bet
    ADD CONSTRAINT apuestas_bet_usuario_id_a0cda139_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auditoria_audit_log auditoria_audit_log_creado_por_id_83e2520f_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_audit_log
    ADD CONSTRAINT auditoria_audit_log_creado_por_id_83e2520f_fk_auth_user_id FOREIGN KEY (creado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auditoria_integrity_check auditoria_integrity__ejecutado_por_id_3551d4d7_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_integrity_check
    ADD CONSTRAINT auditoria_integrity__ejecutado_por_id_3551d4d7_fk_auth_user FOREIGN KEY (ejecutado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billetera_account billetera_account_usuario_id_cc0bee51_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_account
    ADD CONSTRAINT billetera_account_usuario_id_cc0bee51_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billetera_ledger_entry billetera_ledger_ent_account_id_e9d11086_fk_billetera; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_ledger_entry
    ADD CONSTRAINT billetera_ledger_ent_account_id_e9d11086_fk_billetera FOREIGN KEY (account_id) REFERENCES public.billetera_account(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billetera_ledger_entry billetera_ledger_ent_transaction_id_f03cf909_fk_billetera; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_ledger_entry
    ADD CONSTRAINT billetera_ledger_ent_transaction_id_f03cf909_fk_billetera FOREIGN KEY (transaction_id) REFERENCES public.billetera_ledger_transaction(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billetera_ledger_transaction billetera_ledger_tra_creado_por_id_6ddc33b6_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billetera_ledger_transaction
    ADD CONSTRAINT billetera_ledger_tra_creado_por_id_6ddc33b6_fk_auth_user FOREIGN KEY (creado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cuotas_odd cuotas_odd_actualizada_por_id_1887a3be_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd
    ADD CONSTRAINT cuotas_odd_actualizada_por_id_1887a3be_fk_auth_user_id FOREIGN KEY (actualizada_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cuotas_odd_history cuotas_odd_history_cambiado_por_id_21481e78_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd_history
    ADD CONSTRAINT cuotas_odd_history_cambiado_por_id_21481e78_fk_auth_user_id FOREIGN KEY (cambiado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cuotas_odd_history cuotas_odd_history_odd_id_00f25c35_fk_cuotas_odd_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd_history
    ADD CONSTRAINT cuotas_odd_history_odd_id_00f25c35_fk_cuotas_odd_id FOREIGN KEY (odd_id) REFERENCES public.cuotas_odd(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cuotas_odd cuotas_odd_seleccion_id_b05e8b61_fk_mercados_seleccion_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuotas_odd
    ADD CONSTRAINT cuotas_odd_seleccion_id_b05e8b61_fk_mercados_seleccion_id FOREIGN KEY (seleccion_id) REFERENCES public.mercados_seleccion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_equipo eventos_equipo_deporte_id_fc74c45e_fk_eventos_deporte_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_equipo
    ADD CONSTRAINT eventos_equipo_deporte_id_fc74c45e_fk_eventos_deporte_id FOREIGN KEY (deporte_id) REFERENCES public.eventos_deporte(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_evento eventos_evento_deporte_id_fafd4400_fk_eventos_deporte_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_evento
    ADD CONSTRAINT eventos_evento_deporte_id_fafd4400_fk_eventos_deporte_id FOREIGN KEY (deporte_id) REFERENCES public.eventos_deporte(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_evento eventos_evento_equipo_local_id_acb428d2_fk_eventos_equipo_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_evento
    ADD CONSTRAINT eventos_evento_equipo_local_id_acb428d2_fk_eventos_equipo_id FOREIGN KEY (equipo_local_id) REFERENCES public.eventos_equipo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_evento eventos_evento_equipo_visitante_id_c9e38773_fk_eventos_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_evento
    ADD CONSTRAINT eventos_evento_equipo_visitante_id_c9e38773_fk_eventos_e FOREIGN KEY (equipo_visitante_id) REFERENCES public.eventos_equipo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_evento eventos_evento_liga_id_30fc26dc_fk_eventos_liga_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_evento
    ADD CONSTRAINT eventos_evento_liga_id_30fc26dc_fk_eventos_liga_id FOREIGN KEY (liga_id) REFERENCES public.eventos_liga(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_liga eventos_liga_deporte_id_6e3c29a3_fk_eventos_deporte_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_liga
    ADD CONSTRAINT eventos_liga_deporte_id_6e3c29a3_fk_eventos_deporte_id FOREIGN KEY (deporte_id) REFERENCES public.eventos_deporte(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_resultado eventos_resultado_evento_id_349d64e7_fk_eventos_evento_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_resultado
    ADD CONSTRAINT eventos_resultado_evento_id_349d64e7_fk_eventos_evento_id FOREIGN KEY (evento_id) REFERENCES public.eventos_evento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: eventos_resultado eventos_resultado_registrado_por_id_775ce91e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos_resultado
    ADD CONSTRAINT eventos_resultado_registrado_por_id_775ce91e_fk_auth_user_id FOREIGN KEY (registrado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juego_responsable_autoexclusion juego_responsable_au_creada_por_id_3b8b4941_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_autoexclusion
    ADD CONSTRAINT juego_responsable_au_creada_por_id_3b8b4941_fk_auth_user FOREIGN KEY (creada_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juego_responsable_autoexclusion juego_responsable_au_usuario_id_d1a949eb_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_autoexclusion
    ADD CONSTRAINT juego_responsable_au_usuario_id_d1a949eb_fk_auth_user FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: juego_responsable_limite_deposito juego_responsable_li_usuario_id_83baabfa_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.juego_responsable_limite_deposito
    ADD CONSTRAINT juego_responsable_li_usuario_id_83baabfa_fk_auth_user FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mercados_mercado mercados_mercado_evento_id_68a01654_fk_eventos_evento_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mercados_mercado
    ADD CONSTRAINT mercados_mercado_evento_id_68a01654_fk_eventos_evento_id FOREIGN KEY (evento_id) REFERENCES public.eventos_evento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mercados_seleccion mercados_seleccion_mercado_id_54a764c1_fk_mercados_mercado_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mercados_seleccion
    ADD CONSTRAINT mercados_seleccion_mercado_id_54a764c1_fk_mercados_mercado_id FOREIGN KEY (mercado_id) REFERENCES public.mercados_mercado(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_kyc usuarios_kyc_perfil_id_f0bf05e7_fk_usuarios_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_kyc
    ADD CONSTRAINT usuarios_kyc_perfil_id_f0bf05e7_fk_usuarios_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.usuarios_perfil(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_kyc usuarios_kyc_verificado_por_id_e31ead92_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_kyc
    ADD CONSTRAINT usuarios_kyc_verificado_por_id_e31ead92_fk_auth_user_id FOREIGN KEY (verificado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_perfil usuarios_perfil_usuario_id_ca6ea2f9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_perfil
    ADD CONSTRAINT usuarios_perfil_usuario_id_ca6ea2f9_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 5K678HJMGAMRcdDJXZ9grvrOUU1oeGaaoPnZeN3tdneyWm1jaCfeKKZygAdPnEw

